# https://github.com/bkeepers/dotenv is used for
# default configuration options.  The values in
# this file do not replace existing values in
# the shell ENV.

# Uncomment and set values as required.  See used settings in
# lib/*/configuration.rb

export DEBUG=false

export TRIANNON_LOG_FILE='log/triannon_client.log'

# Configure the triannon service
export TRIANNON_HOST='http://localhost:3000'
export TRIANNON_USER=''
export TRIANNON_PASS=''
export TRIANNON_CONTAINER='/annotations/'

